:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .add-animal-form {
    display: flex;
    flex-direction: column;
  } 
  ::ng-deep .mat-input-element {
    caret-color: green; 
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    opacity: 1;
    color: green;
   }
  ::ng-deep .mat-form-field-underline {
    background-color: green;
  } 
  ::ng-deep .mat-form-field-ripple {
    background-color: green !important;
  } 
}
